body{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(to top right, rgb(255, 255, 255), rgb(212, 59, 218));
}
.login-page{
	width: 850px;
    padding: 10%;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background-color: white;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
#userPasswordError,#userEmailError,#usernameError,#loginPasswordError,#loginEmailError{
	display: none;
}
.form input{
	font-family: "Robotto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button{
	font-family: "Robotto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #e071c5;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #551744;
}
.form .message{
	margin: 15px 0 0;
	color: #551744;
	font-size: 14px;
}
.form .message a{
	color: #551744;
	font-size: 14px;
	text-decoration: none;
}
.form .register-form{
	display: none;
}

	